body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    background: #dbdbdb;
}

/* HEADER */
header {
    position: relative;
    background: #111;
    /* negro correcto */
    color: white;
    padding: 40px;
    overflow: hidden;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 5px 0 0 0;
    opacity: 0.8;
}

/* SPIDERMAN */
.spiderman {
    position: absolute;
    top: -10px;
    left: 20px;
    width: 120px;

    animation: swing 3s ease-in-out infinite;
    transform-origin: top center;
}

@keyframes swing {
    0%   { transform: rotate(6deg); }
    50%  { transform: rotate(-6deg); }
    100% { transform: rotate(6deg); }
}

/* MENÚ PRINCIPAL */
.menu a {
    display: block;
    margin: 10px auto;
    text-decoration: none;
    color: white;
    background: #0077ff;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    transition: 0.3s;
}

.menu a:hover {
    background: #d10000;
}

/* SELECTOR */
select {
    padding: 10px;
    margin: 20px;
    font-size: 16px;
}

/* PROYECTOS */
#title {
    margin-top: 10px;
}

#image {
    width: 300px;
    margin-top: 15px;
    border-radius: 10px;
}

#description {
    max-width: 600px;
    margin: 15px auto;
    line-height: 1.4;
}

/* BOTÓN VOLVER */
.back-button {
    display: inline-block;
    margin: 15px;
    padding: 10px 15px;
    background: #222;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background: #444;
}

.project-header {
    background: #111;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.project-header span {
    font-size: 22px;
    font-weight: bold;
}

.small-icon {
    width: 55px;
    height: auto;
}